IMAGE_NAME=my-image

POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

REDIS_URI=redis://langgraph-redis:6379
POSTGRES_URI=postgres://postgres:postgres@langgraph-postgres:5432/postgres?sslmode=disable

OLLAMA_HOST=http://host.docker.internal:11434
OLLAMA_MODEL=llama3.1

LANGSMITH_API_KEY=replace_me
